.me .elisha {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 600;
  color: white;
}

@media screen and (max-width: 365px) {
  .me .elisha {
    font-size: 40px;
  }
}
